.eat-blog {
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 69px;
  padding-bottom: 64px;
}

.eat-blog__header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.eat-blog__heading {
  margin-top: 0;
  margin-bottom: 36px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.eat-blog__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  color: $color-primary;

  &::after {
    display: block;
    width: 8px;
    height: 10px;
    margin-left: 13px;
    background-image: url(/img/icon/right-vector.svg);
    background-repeat: no-repeat;
    background-position: center center;
    content: '';
  }
}

.eat-blog__content {
  display: flex;
  align-items: start;
}

.eat-blog__dinner {
  position: relative;
  z-index: 1;
  margin-right: 32px;
  padding: 270px 65px 24px 24px;
  border-radius: 12px;
  background-image: url(../img/egg-eat.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.eat-blog__dinner-link {
  position: absolute;
  z-index: 1;
  left: 24px;
  top: 24px;
  padding: 1px 8px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: $color-link-hovered;
  background-color: #F4F8EC;
}

.eat-blog__dinner-title {
  max-width: 580px;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #fff;
}

.eat-blog__dinner-bottom {
  display: flex;
  align-items: center;
}

.eat-blog__author-pic {
  margin-right: 8px;
}

.eat-blog__author-img {
  display: block;
}

.eat-blog__author {
  margin-right: 16px;
  font-family: $font-static;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.eat-blog__author-date {
  font-family: $font-static;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.eat-blog__author-date--dark {
  color: $color-primary;
}

.eat-blog__vegetable {
  max-width: 269px;
}

.eat-blog__vegetable-top {
  display: block;
}

.eat-blog__vegetable-content {
  padding-top: 24px;
}

.eat-blog__vegetable-link {
  padding: 1px 8px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: $color-link-hovered;
  background-color: #F4F8EC;
}

.eat-blog__vegetable-title {
  margin-top: 8px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.eat-blog__vegetable-bottom {
  margin-top: 16px;
}

.eat-blog__vegetable-author {
  margin-right: 16px;
  font-family: $font-static;
  font-size: 12px;
  line-height: 16px;
  color: $color-primary;
}

.eat-blog__salats {
  @include list-unstyled;
  margin-left: 32px;
}

.eat-blog__salat { 
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.eat-blog__salat-content {
  margin-right: 48px;
}

.eat-blog__salat-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.eat-blog__salat-pic {
  flex-shrink: 0;
}

.eat-blog__salat-img {
  display: block;
}


/* MEDIA */ 
@include breakpoint-down (1130px) {

  .eat-blog__content {
    flex-wrap: wrap;
  }

  .eat-blog__vegetable {
    margin-left: auto;
  }

  .eat-blog__salats {
    margin: 0 auto;
    margin-top: 25px;
  }

  .eat-blog__salat {
    justify-content: space-between;
  }

}

@include breakpoint-down (1078px) {

  .eat-blog__dinner {
    padding: 270px 21px 24px 15px;
  }

  .eat-blog__dinner-title {
    max-width: auto;
  }

}

@include breakpoint-down (1025px) {

  .eat-blog__dinner {
    margin: 0 auto;
    padding: 270px 40px 24px 30px;
  }

  .eat-blog__vegetable {
    margin-top: 25px;
    margin-left: 0;
  }

  .eat-blog__salat {
    justify-content: flex-end;
  }

  .eat-blog__salat-content {
    margin-right: auto;
  }

  .eat-blog__salat-title {
    max-width: 375px;
  }

}

@include breakpoint-down (860px) {

  .eat-blog__salats {
    flex-grow: 1;
    margin: 0;
    margin-top: 25px;
    margin-left: 30px;
  }

  .eat-blog__salat {
    justify-content: space-between;
    max-width: 400px;
  }

  .eat-blog__salat-pic {
    margin-right: 15px;
    order: -1;
  }

  .eat-blog__salat-content {
    flex-grow: 1;
    margin-left: auto;
    max-width: 400px;
  }

}

@include breakpoint-down (810px) {

  .eat-blog__salat {
    max-width: 300px;
  }

  .eat-blog__vegetable-bottom {
    margin-top: 8px;
  }

  .eat-blog__salat-pic {
    margin-right: 15px;
    order: -1;
  }

  .eat-blog__salat-content {
    max-width: auto;
    margin-left: 0;
  }

}

@include breakpoint-down (705px) {

  .eat-blog__content {
    justify-content: space-between;
  }

  .eat-blog__vegetable {
    max-width: 195px;
  }

  .eat-blog__vegetable-top {
    width: 200px;
  }

  .eat-blog__vegetable-title {
    font-size: 15px;
  }

  .eat-blog__salat-title {
    margin-bottom: 0;
    font-size: 13px;
  }

  .eat-blog__salats {
    flex-grow: 0;
    margin-left: 12px;
  }

  .eat-blog__salat-img {
    width: 70px;
  }

}


@include breakpoint-down (615px) {

  .eat-blog__link {
    margin-top: 3px;
  }

  .eat-blog__content {
    flex-direction: column;
    align-items: center;
  }

  .eat-blog__dinner {
    width: 370px;
    height: 370px;
  }

  .eat-blog__dinner-title {
    font-size: 14px;
    line-height: 20px;
  }

  .eat-blog__vegetable-content {
    text-align: center;
  }

  .eat-blog__salats {
    margin: 0;
    margin-top: 40px;
  }

  .eat-blog__salat {
    flex-direction: column;
    text-align: center;
  }

  .eat-blog__salat-title {
    margin-top: 8px;
  }

  .eat-blog__vegetable-bottom {
    margin: 0;
  }

  .eat-blog__salat-content {
    margin: 0 auto;
  }

}

@include breakpoint-down (480px) {

  .eat-blog__dinner {
    width: 270px;
    height: 270px;
    padding: 132px 40px 24px 30px;
  }

  .eat-blog__heading {
    font-size: 14px;
  }

  .eat-blog__link {
    font-size: 14px;
  }

}
