// SITE HEADER NAV
.site-header__nav {
  display: none;
}

@include breakpoint-down (690px) {

  .site-header__nav--active {
    display: block;
    -webkit-animation: scale-out-tr 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
	  animation: scale-out-tr 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
  }

}

/* ANIMATION */
 @-webkit-keyframes scale-out-tr {

  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }

}

@keyframes scale-out-tr {

  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  
}
